/* estilo base do petshop */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/*-----------NAV-----------*/
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: #333;
}

/*-----------footer----------*/

.footer-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: stretch;     
    width: 100%;                
    padding: 30px 5%;
    background-color: #c3f2f4;
    border-top: 3px solid #000000;
}
.footer-coluna{
    flex: 1; 
    padding: 20px;
    text-align: center;
    transition: background 0.3s;
}
.footer-coluna:not(:first-child) {
    border-left: 1px solid #070707;
}

/*-----------login------------*/
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.login-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-container button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
/*body {
    margin: 0;
  } */
  
  .aoi {
    margin: 0;
    padding: 0;
  }
  
  .aoi h2, p {
    margin: 10px;
  }
  
  .aoi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
  }
  
  .aoi ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .aoi ul li a:hover {
    background-color: #111111;
  }
