/* estilo base do petshop */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/*-----------NAV-----------*/
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: #333;
}

/*-----------footer----------*/

.footer-cabecalho{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center; 
    align-items: center;     
    
    width: 100%;                
    padding: 20px 0;
}
.footer-coluna{
    background-color: rgb(89, 172, 200);
    padding: 10px;
    border-radius: 8px;    
    min-width: 150px;      
    text-align: center;
}

/*-----------login------------*/
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.login-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-container button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
/*body {
    margin: 0;
  } */
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555555;
    color: white;
  }
